
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f6f8fc;
}

.content {
    padding: 1rem;
    background: #fff;
    height: 100vh;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .content {
        max-width: 992px;
        height: auto;
        margin: 0 auto;
    }
}