
.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background: #6c79db;
    border: none;
    border-radius: 1rem;
}

.pokemon .number {
    /* color: #46cbab; */
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.1);
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}
