
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f6f8fc;
}

.content {
    padding: 1rem;
    background: #fff;
    height: 100vh;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .content {
        max-width: 992px;
        height: auto;
        margin: 0 auto;
    }
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background: #49d0b0;
}

.pokemon .number {
    /* color: #46cbab; */
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    background: #61e1ca;
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}
